*{
    padding: 0;
    margin: 0;
}

body {
    background-color: #203240;
    color: #fff;
    height: 100vh;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    font-size: 18px;
}

.content_container {
    width: 350px;
    background-color: #406580;
    padding: 20px 15px;
}

.input_label {
    display: block;
    margin: 11px 0;
}

input[type="number"]{
    display: block;
    width: 40%;
    margin: 10px auto 0 auto;
    font-size: 16px;
    padding: 5px 20px;
}

.btn {
   display: block;
    width: 32%;
    margin: 15px auto;
    font-size: 16px;
    padding: 5px 20px;
}
